body {
    background: rgb(168, 235, 231)
}


table, th {
    border-collapse: collapse;
    border: 2px solid #545755;
}

td {
    margin-top: 20px;
    border: 2px solid #545755;
} 

.table-decon {
    flex-basis: 50%; /* Lățime inițială de 50% din container */
    table-layout: fixed;
    max-height: 800px; /* înălțimea dorită */
    overflow-y: auto; /* scroll vertical */
    overflow-x: auto; /* scroll orizontal, dacă este necesar */
    /* border: 1px solid #111111; bordură pentru a vizualiza mai bine containerul */
 
}

.antet {
    position: sticky;
    top: 0;
    background-color: #10d4e2; /* Setați culoarea de fundal pentru antet */
    z-index: 10; /* Asigură-te că antetul este deasupra celorlalte rânduri */
    box-shadow: 0 2px 2px -1px rgba(26, 152, 220, 0.4); /* Adaugă o umbră pentru a sublinia efectul sticky */
}
